<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RentAGame</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
	<link rel="icon" href="/images/LogoRentAGame.ico" type="image/x-icon">
  </head>

  <body class="bg-purple-100 text-gray-900">
    <script>
	window.addEventListener('DOMContentLoaded', async () => {
	const loginButton = document.getElementById('login-btn');
	if (!loginButton) {
		console.warn("Le bouton de connexion n'existe pas dans la page");
		return;
	}

	try {
		const res = await fetch(`https://rentagame-production-81ca.up.railway.app/api/profile`, {
		method: 'GET',
		credentials: 'include'
		});
		if (!res.ok) {
		console.error('Erreur API:', res.status);
		return;
		}

		const data = await res.json();

		if (data.loggedIn) {
		const profileLink = document.createElement('a');
		profileLink.href = '/profil';
		profileLink.innerHTML = `
			<img src="/images/profil-icon.webp" alt="Profil" class="h-8 w-8 rounded-full object-cover" loading="lazy" />
		`;
		profileLink.className = "inline-block";
		loginButton.replaceWith(profileLink);
		} else {
		loginButton.classList.remove('hidden');
		}

	} catch (error) {
		console.error('Erreur lors de la requête:', error);
	}
	});
	</script>


    <slot />
  </body>
</html>
